#tablestyle{
background-color:rgb(27, 27, 136);
color:white;
font-size: 15px;
border-color: WHITE;
}
td,tr{
border-collapse: separate;
border-spacing: 15px 50px;  
width: 23%;
text-align: center;
border-color: cornsilk;
}
 #details {
padding-top: 8px;
margin-left: -30px;
border-style: groove;
color:black;
font-size: 30px;
text-align:left;
height:424px;
width:650px;
}
