#tablestyle{
   
    background-color:rgb(27, 27, 136);
    color:white;
    font-size: 15px;
    border-color: WHITE;
    }
    #tablestyle td,tr{
    border-collapse: separate;
    border-spacing: 15px 50px;  
    width: 10%;
    line-height:90%;
    text-align: center;
    border-color: cornsilk;
    }
    select {
        padding:0;
        width: 50%;
        margin-top: -5px;
        font-size: 15px;
        max-height: 30px;
        line-height: 1%;
      }
    #details{
        line-height: 80%;
    }
    #details tr,td{
    border-collapse: separate;
    border-spacing: 15px 50px;  
    border-color: cornsilk;
    text-align:left;
    line-height:81%;
    }
    .btn{
        margin:0;
        padding:1%;
        line-height:1%;
    }
